<footer class="ft">
    <div class="ft__top">
        <div class="con fl-wrap jus-spa">
            <div class="col-6">
                <div class="ft__content">
                    <div class="ft__title">
                        VỀ CHÚNG TÔI
                    </div>
                    <div class="ft__desc">
                        <div class="ft__txt">
                            <p class="p1">DSK Clothes® – Popular Streetwear Brand</p><br />
                        </div>
                        <div class="ft__txt">
                            <p class="p1">HỘ KINH DOANH DSK Clothes</p>
                            <p class="p1">GPKD được cấp bởi Trường Đại học Công nghiệp Thực phẩm TP Hồ Chí Minh</p>
                            <p class="p1">Mã số thuế: 8547618080</p>
                            <p class="p1">Ngày cấp: 22/09/2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 pd-0 fl-wrap">
                <div class="col-3">
                    <div class="wrap-wg-child">
                        <div class="ft__title">
                            LIÊN HỆ
                        </div>
                        <div class="ft__mb__wrap">
                            <ul class="ft__list">
                                <li>
                                    Hotline
                                    <p class="p1 b">1900 123 456</p>
                                </li>
                                <li>
                                    Email
                                    <p class="p1 b">Customercare@dskclothes.asia</p>
                                </li>
                                <li>
                                    Mon - Sun
                                    <p class="p1 b">09:30 ~ 21:30</p>
                                </li>
                                <li>
                                    Email Business
                                    <p class="p1 b">business@dskclothes.asia</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap-wg-child">
                        <div class="ft__title">
                            CỬA HÀNG
                        </div>
                        <div class="ft__mb__wrap">
                            <ul class="ft__list">
                                <li>
                                    325 Hoàng Sa, Tân Định, quận 1, HCM
                                </li>
                                <li>
                                    The New Playground, 04 Phạm Ngũ Lão, quận 1, HCM
                                </li>
                                <li>
                                    842 Sư Vạn Hạnh, phường 12, quận 10, HCM
                                </li>
                                <li>
                                    54 Mậu Thân, Xuân Khánh, quận Ninh Kiều, Cần Thơ
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap-wg-child">
                        <div class="ft__title">
                            HỖ TRỢ
                        </div>
                        <div class="ft__mb__wrap">
                            <ul class="ft__list">
                                <li class="h-li">
                                    <a href="#">LÌ VEN FABRIC</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Tài khoản</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Chính sách vận chuyển</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Thanh toán online</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Chính sách bảo mật</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Chính sách bảo hành</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Chính sách khiếu nại</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap-wg-child">
                        <div class="ft__title">
                            MỞ RỘNG
                        </div>
                        <div class="ft__mb__wrap">
                            <ul class="ft__list">
                                <li class="h-li">
                                    <a href="#">Tuyển dụng</a>
                                </li>
                                <li class="h-li">
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft__bot" >
        <div class="con fl-wrap jus-ct">
            <div class="col-6 ft__bot__txt mg-r">
                DSK CLOTHES® - Popular Streetwear brand
            </div>
            <div class="col-2 ft__bot__link">
                <a href="#">TUYỂN DỤNG</a>
            </div>
            <div class="col-2 ft__bot__link">
                <a href="#">TERM & POLICIES</a>
            </div>
        </div>
    </div>
</footer>
