body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*-------------------------------------------------------- STYLE BASE --------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

::selection{
    background-color: #242424;
    color: #fff;
}

::-webkit-scrollbar{
    width: 7px;
    background: #808080;
}

::-webkit-scrollbar-thumb{
    background: #232323;
}

/*-------------------------------------------------------- STYLE LOADING --------------------------------------------------------*/


/*-------------------------------------------------------- STYLE HEADER --------------------------------------------------------*/

.hd{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.hd,
.header-banner{
    width: 100%;
}

.header-banner{
    background: black;
    height: 40px;
    display: flex;
    transition: all .5s ease-in-out;
}

.header-banner-message{
    width: 50%;
    padding: 12px 0 0 40px;
    text-align: left;
    color: white;
}

.header-banner-message span{
    text-transform: uppercase;
    font-size: 14px;
    word-spacing: -3px;
    letter-spacing: -1px;
}

.header-banner-message i{
    font-size: 12px;
}

.header-banner-switch{
    width: 50%;
    padding: 12px 40px 0 0;
    text-align: right;
    position: relative;
}

.pd-0{
    padding: 0;
}

.hd__top{
    width: 100%;
    border-bottom: 3px solid #D4D4D4;
    background: white;
}

.hd__top:hover .stick:last-child{
    margin-top: 40px;
}

.hd__bot{
    transition: all .5s ease-in-out;
    background: white;
    position: relative;
    z-index: -100;
}

.hd__bot{
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
}

.button-dropdown{
    text-decoration: none;
    color: white;
}

.button-dropdown:hover{
    color: white;
}

.red{
    color: red;
}

.menu-item i{
    font-size: 10px;
    color: #47474C;
}

#menu-item-307:hover .submenu{
    margin-top: 0.6rem;
}

.hd__top:hover + .hd__bot{
    margin-top: 0;
}

.button-dropdown span{
    text-transform: uppercase;
    font-size: 14px;
    word-spacing: -3px;
    letter-spacing: -1px;
}

.button-dropdown i{
    font-size: 9px;
}

.fl-ct{
    display: flex;
}

.hd__logo img{
    width: 250px;
    margin-top: -5px;
    margin-left: 90px
}

.hd__logo{
    margin: 0.5rem auto;
}

.hd__list{
    display: flex;
    padding: 15px 0;
    justify-content: flex-end;
}

.hd__notification{
    width: 40px;
}

.hd__user{
    width: 40px;
}

.hd__use a{
    text-decoration: none;

}

.user__btn{
    color:#47474C;
    padding-left: 9px;
}

.user__btn:hover{
    color:#232323;
}

.notification__btn__child{
    position: relative;
}

.ser__btn,
.cart__btn,
.notification__btn__child{
    transition: transform .3s ease-in-out;
}

.notification__btn__child:hover,
.ser__btn:hover,
.cart__btn:hover
{
    transform: scale(1.1);
}

.cart__num{
    color: white;
    font-size: 10px;
    background: #47474C;
    text-align: center;
    top: 20px;
    left: 13px;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.hd__ser{
    width: 35px;
}

.hiden-nav{
    display:none;
}

.hd__cart{
    width: 30px;
}

.cart__btn{
    position:relative;
}

.hd__lang{
    width: 40px;
}

.hd__lang img{
    width: 25px;
    margin-top: 10px;
}

.pd-lr{
    margin-left: 30px;
    font-size: 25px;
    color: #47474C;
}

.menu-item{
    position: relative;
    height: 100%;
    padding: 10px 0;
}


/*.subBtn{
    position: absolute;
    top:13px;
    right: -12px;
    font-size: 10px;
    color: #47474C;
}*/


#menu-main-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
    height: 40px;
}

.menu__wrap{
    background: #fff;
}

#menu-main-menu a{
    text-decoration: none;
    color: #47474C;
}

.menu-df{
    width: 70px;
    top: -25px;
    z-index: 0;
}

.submenu{
    position: absolute;
    margin-top: -24.5rem;
    z-index: -1000;
    left: 0;
    right:0;
    transform:translateX(-20%);
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px 0px #ddd;
    border-radius: 0 0 5px 5px;
    transition: all .5s ease-in-out;
}

.submenu li{
    list-style: none;
    height: 40px;
    background: white;
    padding-top: 10px;
    padding-left: 20px;
    transition: all .2s ease-out;
}

.submenu li:hover{
    background: #E9BD9D;
    border-bottom: 3px solid #CB351A;
}

.menu-item::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  top: 80%;
  width: 100%;
  height: 1.5px;
  background: #7f7f7f;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.menu-item:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.submenu__item:last-child{
    border-radius: 0 0 6px 6px;
}

.sticky{
    margin-top: -40px;
    position: fixed;
    z-index: -100;
    transition: all .5s ease-in-out;
}

.sticky:hover{
    margin-top: 0px;
}

.test{
    margin-top: 175px;
    padding: 0 50px;
    text-align:justify;
}

/*-------------------------------------------------------- STYLE FOOTER --------------------------------------------------------*/

.ft{
    margin-top: auto;
    width: 100%;
    background: white;
    border-top: 2px solid #D4D4D4;
}

.ft__top{
    padding: 2rem 1rem;
}

.jus-spa{
    justify-content:space-between;
}

.fl-wrap{
    display: flex;
    flex-wrap: wrap;
}


.ft__title{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.p1{
    margin-bottom: 0;
}

.wrap-wg-child{
    word-wrap: break-word;
}

.ft__mb__wrap ul li{
    list-style: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.h-li{
    height: 40px;
}

.ft__mb__wrap ul li a{
    text-decoration: none;
    color: #232323;
}

.ft__mb__wrap ul li a:hover{
    font-size: 16px;
    color: black;
}

.ft__list{
    padding: 0;
    padding-right: 15px;
    text-align: justify;
    word-spacing: -5px;;
}

.b{
    font-weight: 700;
    font-size: 16px;
}

.ft__bot{
    background: #d6d6d6;
    padding: 13px 1rem;
    font-size: 0.9rem;
    line-height: 24px;
    width: 100%;
}

.mg-r{
    margin-right: auto;
}

.ft__bot__link a{
    text-decoration: none;
    color: #232323;
}

.ft__bot__link a:hover{
    font-size: 16px;
    color: black;
}

/*-------------------------------------------------------- STYLE HOME --------------------------------------------------------*/


.ban__img{
    width: 100%;
}

.rto-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main{
    margin-top: -130px;
    width: 100%;
    position:relative;
}

.ban{
    position:relative;
    margin-bottom: 221rem;
}

.ban-emp{
    position:relative;
    margin-bottom: 15rem;
}

.abs{
    position: absolute;
    top: 90%;
    left: 0;
    background: white;
}

.sec-60{
    padding: 6rem 0;
}

.sec-t10{
    padding-top: 10rem;
}


.sec-title{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.fl-wrap .col-3{
    padding: 0 0.3rem;
    margin-bottom: 1.5rem;
}

.pd__top{
    position: relative;
}


.rto-box img{
    object-fit:cover;
    margin: 0 10%;
}

.pd__bot{
    margin: 0 10%;
    text-align:center;
}

.pd__title{
    font-size: 1.2rem;
    line-height: 1rem;
    color: #7f7f7f;
    text-transform:uppercase;
}

.pd__price{
    font-size: 1.25rem;
    line-height: 26px;
    text-align:center;
}

.pd__title{
    text-decoration: none;
}

.pd__title:hover{
    color: #47474C;
}

.woocommerce-Price-amount{
    color: #47474C;
}

.pd__btn{
    width: 20rem;
    padding: 5px;
    text-decoration: none;
    color: #7f7f7f;
}


.btn-sec{
    background: #fff;
    display: block;
    max-width: 100%;
    border: 1px solid #d9d9d9;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    line-height: 1.5rem;
    z-index: 1;
}

.mg-ct{
    margin: 1rem auto;
}

.hov-df{
    transition: all .5s linear;
    overflow: hidden;
}

.hov-df:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
}
.hov-df:hover {
  background: #7f7f7f;
  color: #fff;
}
.hov-df:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background-color: #7f7f7f;
}

.sty{
    overflow: hidden;
    width: 100%;
}

.abs-of{
    position: absolute;
    top: 115rem;
    left: 0;
    background: white;
}

.jus-ct{
    justify-content: center;
}

.jus-ev{
    justify-content: space-evenly;
}

.fl-con{
    display: flex;
    padding: 0.5rem;
    flex-wrap:wrap;
}

.sty__con{
    position: relative;
}

.sty__con .col{
    width: 50%;
    max-width: 75rem;
    padding: 0 6rem;
    position: relative;
}


.sty__content{
    position: absolute;
    bottom: 7%;
    left: 35%;
}

.btn-sty{
    background: #fff;
    display: block;
    max-width: 80%;
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    position: relative;
    text-align: center;
    line-height: 1.5rem;
    z-index: 1;
}


/*-------------------------------------------------------- STYLE SIGNUP --------------------------------------------------------*/

.form-su{
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 2.1rem;
}

.header_form{
    margin-top: 22rem;
    margin-bottom:2rem;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.su-link{
    margin: 0 auto;
    width: 30%;
    margin-bottom: 2rem;
    font-size: 15px;
}

.su-link a{
    text-decoration: none;
    color: #7BD2FF;
}

.su-link a:hover{
    color: #0094ff;
}

.body_form,
.info_alert{
    width: 30%;
    margin: 0 auto;
}

.body_form input {
    outline: none;
    font-size: 15px;
    border: none;
    width: 100%;
    border-bottom: 2px solid #c0c0c0;
    margin-top: 30px;
    margin-bottom: 5px;
    opacity: 0.6;
}

.body_form input:focus{
    opacity: 1;
    border-bottom: 2px solid #000;
}

.checkbox-rect2 input[type="checkbox"] {
  display: none;
}

.checkbox-rect2 input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 15px;
   opacity: 0.6;
}

.checkbox-rect2 input[type="checkbox"]:hover + label:before { 
  border: 1px solid #343a3f;
  box-shadow: 2px 1px 0 #343a3f;
}

.checkbox-rect2 input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.checkbox-rect2 input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 0.9em;
  height: 0.9em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: -2px -1px 0 #343a3f;
  background: #f3f3f3;
}

.checkbox-rect2 input[type="checkbox"]:checked + label:before {
  border: 2px solid #fff;
  border-radius: 0.3em;
  background: #50565a;
  box-shadow: 2px 1px 0 #50565a;
}

.checkbox-rect2 label{
    margin-left:0px;
}
.body_form button{
    width: 150px;
    height:40px;
    margin-left: 60%;
    margin-top:2.5rem;
    border: none;
    background-color:#474747;
    color:white;
}


.unlock-btn:hover{
    background-color: black;
}

.footer_form{
    margin-top:3rem;
    margin-bottom:5rem;
    font-size:15px;
    opacity: 0.6;
    text-align:justify;
}
.footer_form a{
    text-decoration: none;
}

.fg-ps{
    margin-top:2.7rem;
    margin-right: 5rem;
}

.fg-ps a{
    text-decoration: none;
    font-size: 15px;
    color: #7BD2FF;
}

.fg-ps a:hover{
    color: #0094ff;
}

.mr-b{
    margin-bottom: 1rem;
}

.danger-mb{
    text-align: justify;
    margin-bottom:3rem;
}


/*-------------------------------------------------------- STYLE DETAILS --------------------------------------------------------*/
.bc{
    margin-top: 19rem;
    margin-bottom:2rem;
    font-size: 13px;
    padding: 0 2.5rem;
}

.nav a{
    padding: 0 0.5rem;
    color: #47474C;
    transition: all 0.2s ease-in;
}

.nav a:hover{
    color: #47474C;
    transform: scale(1.1);
    font-weight: 600;
}

.nav span{
    padding: 0 0.5rem;
    color: #47474C;
    font-weight: 600;
}

.sec-30{
    padding: 3rem 0;
}

.mona-wrap-shop{
    max-width: 90%;
}

.shop-dt{
    border-bottom: 1px solid #D4D4D4;
}

.detail-pr{
    margin-bottom: 2rem;
}

.name__pr{
    font-weight: 600;
}

.detail-pr{
    width: 100%;
    height: 10%;
}

.txt-detail{
    font-size: 15px;
}

.img__pr button{
    width: 12%;
    margin-right: 1rem;
    border: 1px solid #47474C;
    transition: transform .2s ease-in-out;
}

.img__pr img{
    width: 100%;
}

.img__pr button:hover{
    transform: scale(1.1);
}

.form-select{
    width: 50%;
}

.form-select:focus{
    border: 1px solid #ced4da;
    box-shadow: none;
}

.mg-t-txt{
    margin-top: 0.75rem;
}

.product__describe-custom{
    margin-left: 1rem;
    display: flex;
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}

.product__describe-custom-reduced{
    height: 2rem;
    width: 2rem;
    background-color: #F5F5F5;
    color: #808080;
    border: 2px solid #E1E1E1;
    font-size: 20px;
    overflow:hidden;
    position:relative;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
    cursor: pointer;
}

.product__describe-custom-input{
    height: 2rem;
    width: 4rem;
    background-color: transparent;
    color: #808080;
    font-size: 20px;
    text-align: center;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}

.product__describe-custom-input::-webkit-outer-spin-button, .product__describe-custom-input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.product__describe-custom-increase{
    height: 2rem;
    width: 2rem;
    background-color: #F5F5F5;
    color: #808080;
    border: 2px solid #E1E1E1;
    font-size: 20px;
    overflow:hidden;
    position:relative;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
    cursor: pointer;
}

.btn-buy-sty{
    width: 15rem;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}


.btn-buy{
    background: #47474C;
    display: block;
    max-width: 100%;
    border: 1px solid #47474C;
    font-size: 1rem;
    position: relative;
    text-align: center;
    line-height: 1.5rem;
    z-index: 1;
}

.mg-buy{
    margin: 1rem 0;
}

.hov-buy{
    transition: all .5s linear;
    overflow: hidden;
}

.hov-buy:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #47474C;
  transition: all 0.5s ease;
}
.hov-buy:hover {
  background: #000;
  color: #fff;
}
.hov-buy:hover:after {
  -webkit-transform: scale(2);
  transform: scale(2) rotate(180deg);
  background-color: #000;
}

.product__imgs.page-buy{
    display: flex;
}

.product__imgs ul li{
    list-style: none;
}

.product__imgs ul li img {
    width: 5rem;
    object-fit: contain;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.7;
    border: 1px solid #47474C;
    margin-bottom: 1rem;
}

.product__imgs ul li img:hover{
    border: 1px dashed #47474C;
    opacity: 1;
    transform: scale(1.2);
}

.product__imgs #main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.product__imgs #main-img img{
    width: 75%;
    transform: scale(1.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.shop-dt__title{
    padding: 3rem 0;
    margin-bottom: 1rem;
}

.shopOp {
    cursor: pointer;
}

.mg-r-auto{
    margin-right: auto;
}

.txt-title{
    font-size: 18px;
    font-weight: 600;
}

.shop-dt__open img{
    width: 1rem;
}

.shop-dt__hid {
    height: 0;
    overflow: hidden;
    margin-top: -3.5rem;
    transition: 0.5s linear;
    opacity: 0;
}

.shop-dt__hid.active {
    margin-top: 0;
    height: auto;
    opacity: 1;
}

.mona-content{
    font-size: 14px;
}

.mona-content a{
    color: #a20000;
    text-decoration: none;
}

.back-home{
    text-align: center;
    font-size: 1.2rem;
}

.back-home a{
    color: #47474C;
    font-weight: 600;
    text-decoration: none;
}

.back-home a:hover{
    color: #232323;
    font-weight: 600;
}

/*-------------------------------------------------------- STYLE HOME EMPLOYEE --------------------------------------------------------*/
.form-size-box{
    width: 100%;
    font-size: 15px;
    height: 2rem;
    margin-top: 30px;
    margin-bottom: 5px;
    opacity: 0.6;
    border: none;
    border-bottom: 2px solid #c0c0c0;
}

.w100{
    width: 100%;
}

.form-size-box:focus{
    opacity: 1;
    outline: none;
    box-shadow: none;
}

.alert-as{
    position: absolute;
    top: 3.6rem;
    right: -5px;
    z-index: 1000;
}

.btn-action a{
    width: 7rem;
}

.bc-bd{
    margin-top: 15rem;
    margin-bottom: 2rem;
    font-size: 13px;
    padding: 0 2.5rem;
}

.pd-bd{
    margin-bottom: 43rem;
}

/*-------------------------------------------------------- STYLE BLOG --------------------------------------------------------*/
.nsc{
    margin-top: 6rem;
    position: relative;
}

.abs-txt{
    position: absolute;
    bottom: 400px;
    right: 20px;
    color: #232323;
}

.txt-left{
    font-size: 40px; 
    text-align: right;
}

.btn-l{
    margin-left: 4rem;
}


.box-2 { 
	background-color: #3C3C3C;
	height: 2rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cl {
	line-height: 2rem;
	height: 2rem;
	text-align: center;
    width: 15rem;
	cursor: pointer;
}
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.txt-b{
    font-weight: bolder;
}

.txt-p0-5{
    padding: 0 0.5rem;
}

.pa-title{
    margin-top:30px;
    margin-bottom:50px;
    text-align: center;
}

.pa-title b{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.mg-t3{
    margin-top: 3rem;
}

.wrapper {
    width: 100%;
}

.pd15{
    padding: 0 2.5rem;
}

.box1{
	display: flex;
	flex-wrap: wrap;
	margin:-10px;
  }
.box1>* {
	flex: 1 1 29rem;
	margin: 10px;
}

figure {
    margin: 0px 0 0.2rem;
}

.box1 .hover01{
    width: 29rem;
    height: 30rem;
    overflow: hidden;
}

.box1 .hover01 img{
    width: 29rem;
    height: 30rem;
    transition: all 0.7s ease;
}

.box1 .hover01 img:hover{
    transform: scale(1.1);
}

.mg-bot{
    margin-bottom: 4rem;
}

.box{
	display: flex;
	flex-wrap: wrap;
	margin:-10px;


  }
.box>* {
	flex: 1 1 714px;
	margin: 10px;

}

.wrapperp2{
	display:flex;
	width:100%;
  }

.w50{
	width:50%;
}

.mr-t2r a{
    color: #232323;
    font-size: 14px;
    text-decoration: none;
}

.a-sty a {
	color: #808080;
    font-size: 14px;
    text-decoration: none;
}

.a-sty a:hover {
	color: #47474c;
}

.wrapperp2 .hover01{
    width: 357px;
    height: 266px;
    overflow: hidden;
}

.wrapperp2 .hover01 img{
    width: 357px;
    height: 266px;
    transition: all 0.7s ease;
}

.wrapperp2 .hover01 img:hover{
    transform: scale(1.1);
}

.pd-05{
    padding-left: 1.5rem; 
}

.txt-al{
    text-align:justify;
}

.wrapperp2 p{
    font-size: 15px;
}

.pd_wr2{
    width: 10rem;
    padding: 5px;
}

.mr-t2r{
    margin-top: 2rem;
}

.filter {
    margin-bottom: 4.5rem;
}

.aln-ct{
    align-items: center;
}

.filter__btn{
    font-size: 14px;
    margin: -10px auto -10px -10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.filter__btn img{
    width: 16px;
    height: 16px;
    transition: transform .3s ease-in-out;
}

.filter__btn img:hover{
    transform: scale(1.2);
}

.fl-ct{
    justify-content: center;
    align-items: center;
}

.pd3{
    padding: 0 3rem;
    margin-bottom: 80rem;
}

.filter__select select {
    padding: 5px 50px 5px 25px;
    background: url(../assets/images/svg/ic-arr.svg) 85% 50%/12px no-repeat #fff;
    border: 1px solid #d9d9d9;
    width: 14rem;
    margin-left: 10px;
}

.abs-shop{
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
}

.btn-lf{
    margin-left: 60rem;
}


/*button menu*/
#menuToggle
{
  display: block;
  position: relative;
  top: 5px;
  left: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 3px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: 16.5px 0 0 -50px;
  padding: 0 50px 17rem 50px;
  
  background: #D4D4D4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 14px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.pd-03{
    padding: 0 3rem;
}





/*-------------------------------------------------------- STYLE ABOUT US --------------------------------------------------------*/

.container-abu{
    width:100%;
    margin-top: 13rem;
}

.ab_txt-al{
    text-align: center;
}
.container-abu span{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight:bold;
}
.container-abu img{
    padding:0% 1%;
}
.container-abu h2{
    margin-top:5%;
    text-align:center;
    font-size:32px;
    font-weight:bold;
    opacity:0.7;
}
.container-abu h1 {
    margin-top:2%;
    font-size:16px;
    font-weight:100;
    text-align:center;
    opacity:0.4;
    margin-bottom:5%;
}
.mid-title{
    display:flex;
}
.mid-title h2{
    margin: 15% 0;
    text-align:center;
    font-size: 32px;
    font-weight: 100;
    width:100%;
    opacity: 0.5;
}
.mid-title p{
    margin:12% 4%;
    text-align:left;
    line-height: 23px;
    font-size: 16px;
    font-weight: 100;
    width:70%;
    opacity:0.4;
}
.mid-title2{
    display:flex;
}
.mid-title2 h2{
    margin:18% 8%;
    text-align:center;
    font-size: 32px;
    font-weight: 100;
    width:100%;
    opacity: 0.5;
}
.mid-title2 p{
    margin:12% 6%;
    text-align:left;
    line-height: 23px;
    font-size: 16px;
    font-weight: 100;
    width:100%;
    opacity:0.4;
}
.mid-title3{
    display:flex;
}
.mid-title3 h2{
    margin:18% 7%;
    text-align:center;
    font-size: 32px;
    font-weight: 100;
    width:100%;
    opacity: 0.5;
}
.mid-title3 p{
    margin:12% 6%;
    text-align:left;
    font-size: 16px;
    font-weight: 100;
    line-height: 23px;
    width:100%;
    opacity:0.4;
}

/*-------------------------------------------------------- STYLE CONTACT --------------------------------------------------------*/
.container-contact{
    width:100%;
    margin-top:13rem;
}
.contact-title{
    display:flex;
}
.map-info{
    width:100%;
    margin: 2rem 2rem 1rem 1rem;
}
.contact-info{
    width:100%;
    margin: 2rem 0rem 1rem 1rem;
}
.contact-info h1{
    margin-right:3rem;
    font-size:18px;
    font-weight:bold;
}
.contact-info p{
    margin-right:3rem;
    font-size:14px;
    margin-top:2rem;
}


.contact-info button{
    margin-left: 10rem;
    width: 150px;
    height: 35px;
    background-color:#47474C;
    color: whitesmoke;
    border: none;
}
.contact-info button:hover{
    background-color: black;
}

.img-contact{
    display:flex;
    margin-top:2rem;
}
.img1-contact h1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:2rem;
}
.img-1{
    margin-right:2rem;
}
.img-1-title p a{
    font-weight:bold;
}

.img2-contact h1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:2rem;
}
.img-2{
    margin-right:2rem;
}
.img-2-title p a{
    font-weight:bold;
}

.img3-contact h1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:2rem;
}
.img-3{
    margin-right:2rem;
}
.img-3-title p a{
    font-weight:bold;
}

.img4-contact h1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:2rem;
}
.img-4{
    margin-right:2rem;
}
.img-4-title p a{
    font-weight:bold;
}
.send-info h2{
    font-size:18px;
    font-weight:bold;
}
.send-info input{
    border:none;
    border-bottom:1px solid;
    width:96%;
    opacity: 0.6;
    outline:none;
    margin-bottom:2rem;
}
.input-text{
    display:flex;
    width:100%;
}
.input1 input{
    margin-right:7rem;
}
.input2 input{
    margin-right:6rem;
    margin-left:2rem;
}
.input3 textarea{
    width:96%;
    height:200px;
    border: 1px solid;
}
.contact-info button{
    width: 150px;
    height: 35px;
    background-color:#47474C;
    color: whitesmoke;
}
.contact-info button:hover{
    background-color: black;
}

/*-------------------------------------------------------- STYLE CUSTOMERS CARE --------------------------------------------------------*/
.container-cus{
    width:100%;
    margin-top: 13rem;
    margin-bottom:2rem;
}
.container-cus nav{
    margin-left:2.5rem;
    margin-bottom:2rem;
}
.title-cus span{
    margin: 0 43%;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 18px;
    
}
.row-cus{
    margin-top:3rem;
}
/*-------------------------------------------------------- STYLE RECRUIT --------------------------------------------------------*/
.banner-f{
    margin-top:16.7rem;
    position: relative;
    overflow: hidden;
}
.banner-f img {
    display:block;
	transition: all .3s ease;
}
.banner-f img:hover {
    transform: scale(1.1)
}

.banner-s{
    position: relative;
    overflow: hidden;
    
}

.banner-s img {
    display:block;
	transition: all .3s ease;
}
.banner-s img:hover {
    display:block;
    transform: scale(1.1)
}


.main nav{
    margin-left:10px;
    margin-top:1rem;
}
.recruit {
    padding: 0 1rem;
    opacity:0.6;
}
.recruit h1{
    font-size:18px;
    text-transform:uppercase;
    text-align:center;
}
.recruit p{
    font-size:14px;
}

.btn-local{
    position: absolute;
    margin: -4% 40%;
}
.btn-local button{
    color: whitesmoke;
    background-color: #47474C;
    width:280px;
    height:35px;
    font-weight:bold;
    border:1pt solid;
    border: none;
}
.btn-local button:hover{
    color: whitesmoke;
    background-color: black;
}
.body_form button {
    width: 150px;
    height: 40px;
    margin-left: 33%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: none;
    background-color: #474747;
    color: white;
}
.info-recruit h1{
    margin-top:3rem;
    font-size:26px;
    text-transform:uppercase;
    text-align:center;
}
.bnt-recruit{
    margin-top:2rem;
    margin-bottom:3rem;
    width:100%;
}
.bnt-recruit button{
    color: whitesmoke;
    background-color: #47474C;
    margin: 0 28%;
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
}
.bnt-recruit button:hover{
    color: whitesmoke;
    background-color: black;
}
/*-------------------------------------------------------- RESPONSIVE HOME --------------------------------------------------------*/
/*-------- TABLET: width >= 740px and width < 1024px ---------*/
@media only screen and (min-width: 46.25em) and (max-width: 66.25em){
    .header-banner{
        background: black;
        height: 40px;
        transition: all .5s ease-in-out;
    }

    .header-banner-message{
        width: 100%;
        padding: 12px 0 0 40px;
        text-align: center;
        color: white;
    }

    .header-banner-switch{
        display: none;
    }

    .hd__logo img {
        width: 160px;
        margin-left: 65px;
    }

    .hiden-nav{
        display:block;
    }

    .hd__lang,
    .hd__ser {
        display: none;
    }

    .hd__bot{
        display: none;
    }

    .ban__img{
        margin-top: 10rem;
    }
    .rto-box img {
        object-fit: cover;
        margin: 0px 21%;
    }
    .pd__title {
        font-size: 1rem;
    }
}