@{
    ViewBag.Title = "Về chúng tôi";
}

@*---------------
    ------------------------------------- HEADER *@
@Html.Partial("HeaderNavbar", "Shared")

<div class="container-abu">
    <nav class="nav">
        @Html.ActionLink("Trang chủ", "Home", "Home", new { @class = "nav-link" })  /
        <p class="txt-b txt-p0-5">Về chúng tôi</p>
    </nav>
    <div class="ab_txt-al">
        <span>Về chúng tôi</span>
    </div>
    <h2 class="elementor-heading-title elementor-size-default">
        DSK CLOTHES® - Popular Streetwear brand
        <br>/ ĐEE - ETS - KAY /
    </h2>

    <h1 class="elementor-heading-title elementor-size-default">
        Chúng tôi là thương hiệu thời trang Streetwear nổi tiếng với định hướng
        <br>cung cấp sản phẩm có chất lượng cao, sành điệu với giá thành hợp lý.
    </h1>
    <img src="/Images/img-aboutus/1.jpg" width="100%" />
    <div class="mid-title">
        <h2>Chúng tôi là ai?</h2>
        <p>DSK CLOTHES® là lựa chọn hàng đầu dành cho các tín đồ thời trang Streetwear sành điệu. Sứ mệnh của DSK CLOTHES® là trao quyền cho thế hệ trẻ toàn thế giới tự do thể hiện phong cách thông qua thời trang, thương hiệu vượt qua ranh giới của thời trang streetwear bằng cách không ngừng sáng tạo các trang phục với các bộ sưu tập độc đáo.</p>
    </div>
    <img src="/Images/img-aboutus/2.jpg" width="100%" />

    <div class="mid-title2">
        <h2>Chất lượng trải nghiệm vượt trội</h2>
        <p>
            Chúng tôi không ngừng nỗ lực, tập trung vào chất lượng sản phẩm và trải nghiệm mua sắm vượt trội nhất chưa từng có trước đây, các cửa hàng vật lý của chúng tôi, tối ưu hóa trải nghiệm, giúp người dùng mua sắm một sản phẩm cao cấp thật sự.
            <br>Mua sắm online dễ dàng, đa nền tảng trải nghiệm tuyệt vời.
            Giá thành hợp lý.
            <br>Điều này đã giải quyết bài toán để bạn vừa cân đối khả năng tài chính, vừa đáp ứng hoàn hảo cho nhu cầu thời trang của bạn và xu hướng nhanh của thời đại.
        </p>
    </div>
    <img src="/Images/img-aboutus/3.png" width="100%" />
    <div class="mid-title3">
        <h2>
            Biểu tượng thời trang thời đại mới
            <br>Fashion icon for young generation
        </h2>
        <p>
            Tại DSK CLOTHES®, mỗi sản phẩm đều mang theo sự cá tính và sành điệu, đại diện cho hình ảnh giới trẻ hiện đại - biểu tượng cho sự dẫn đầu phong cách thời đại mới.
            <br><br>Quần áo có thể sẽ lỗi thời nhưng phong cách thời trang thì không. Tầm nhìn độc đáo của Levents® chính là để mỗi cá nhân tự do thể hiện phong cách khi khoác lên mình những sản phẩm được tạo nên từ sự đam mê, mang giá trị của thế hệ mới, đầy trẻ trung, năng động và luôn không ngừng khẳng định bản thân, hướng đến tương lai.
            <br><br>Sự đầu tư từ chất lượng đóng gói, bao bì sản phẩm đến mỗi thước phim, hình ảnh cho tới cách làm chủ được nghệ thuật sắc màu và chỉn chu trong từng chi tiết đã đưa Levents® trở thành một trong những thương hiệu thời trang Streetwear được giới trẻ yêu thích, tin dùng hàng đầu tại Việt Nam.
        </p>
    </div>

</div>

