@{
    ViewBag.Title = "Blog";
}


@*---------------
------------------------------------- HEADER *@
@Html.Partial("HeaderNavbar", "Shared")
<main>
    <div class="nsc">
        <div class="img-blog">
            <img src="/Images/img-blog/img/1.jpg" height="800" class="ban__des">
        </div>
        <div class="abs-txt">
            <p class="txt-left">New Style Coming!</p>
            <div class="btn-l" title="Khám phá">
                <div class="box-2">
                    <div class="btn-cl btn-one">
                        <span>Khám phá</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pd15">
        <div class="con">
            <div class="pa-bl mg-t-txt">
                <nav class="nav">
                    @Html.ActionLink("Trang chủ", "Home", "Home", new { @class = "nav-link" })  /
                    <p class="txt-b txt-p0-5">Blog</p>
                </nav>
                <div class="pa-title">
                    <b>DSK CLOTHES ON INSTAGRAM</b>
                    <div class="mg-t3">
                        DSK CLOTHES® là lựa chọn hàng đầu dành cho các tín đồ thời trang Streetwear sành điệu. Sứ mệnh của DSK CLOTHES® là
                        trao quyền cho thế <br />
                        hệ trẻ toàn thế giới tự do thể hiện phong cách thông qua thời trang, thương hiệu vượt qua ranh giới của thời
                        trang streetwear bằng<br />
                        cách không ngừng sáng tạo các trang phục với các bộ sưu tập độc đáo.<br />
                    </div>
                </div>
            </div>
            <div class="wrapper mg-bot">
                <div class="box1">
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/1.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/2.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/3.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/4.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/5.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/6.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/7.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/8.jpeg" /></a></figure>
                        </div>
                    </div>
                    <div>
                        <div class="hover01">
                            <figure><a href="#"><img src="/Images/img-blog/imgblog/9.jpeg" /></a></figure>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-sec hov-df pd__btn mg-ct mg-bot" title="Khám phá thêm">Khám phá thêm</a>
            <div class="wrapper mg-bot">
                <center><h5 class="txt-b">BLOG</h5></center>
                <div class="box mr-t2r">
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/10.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Sporty Style – Phong cách thời trang thể thao năng động</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/11.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Các gam màu hot trend của thời trang 2022</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/12.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Mách bạn 5 tips phối áo thun oversize sành điệu như các idol Hàn Quốc</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a> /
                                    <a href="#" class="txt-p0-5">Style Tips</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/13.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Cách xử lý vết ố vàng trên áo thun trắng</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Kiến thức thời trang</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/14.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Khám phá gu thời trang năng động của thế hệ Gen Z</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/15.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Những items “must have” khiến set đồ của bạn trở nên sành điệu hơn</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/16.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Cách phối áo thun hack dáng cho nữ</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a> /
                                    <a href="#" class="txt-p0-5">Style Tips</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wrapperp2">
                            <div class="w50">
                                <div class="hover01">
                                    <figure><a href="#"><img src="/Images/img-blog/imgblog/17.png" width="100" height="300" /></a></figure>
                                </div>
                            </div>
                            <div class="w50 pd-05 txt-al">
                                <p>Sự khác nhau giữa Hoodie và Sweater là gì?</p>
                                <div class="mr-t2r a-sty">
                                    <a href="#">Xu hướng thời trang</a> /
                                    <a href="#" class="txt-p0-5">Style Tips</a>
                                </div>
                                <a href="#" class="btn-sec hov-df pd_wr2 mr-t2r" title="Xem thêm">XEM THÊM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
