@{
    ViewBag.Title = "Bộ sưu tập";
}


@*---------------
    ------------------------------------- HEADER *@
@Html.Partial("HeaderNavbar", "Shared")
<div class="container-collect">
    <nav class="nav">
        @Html.ActionLink("Trang chủ", "Home", "Home", new { @class = "nav-link" })  /
        <p class="txt-b txt-p0-5">Tìm kiếm</p>
    </nav>
    <div class="collect-title">
        <span>
            DSK CLOTHES® | POPPOP COLLABORATION – SPECIAL COLLECTION “MAKE POPPOP FAMOUS”
        </span>
    </div>
    <div class="img-collect1">
        <img src="/Images/img-collection/collec1.jpg" alt="Alternate Text" />
    </div>
    <div class="btn-collec1">
        <button type="button">Xem bộ sưu tập</button>
    </div>


    <div class="collect-title">
        <span>
            “MAKE EVERYTHING POPULAR” SPECIAL COLLECTION DORAEMON | DSK CLOTHES®
        </span>
    </div>
    <div class="img-collect1">
        <img src="/Images/img-collection/collec2.jpg" alt="Alternate Text" />
    </div>
    <div class="btn-collec1">
        <button type="button">Xem bộ sưu tập</button>
    </div>



    <div class="collect-title">
        <span>
            DSK CLOTHES® COLLECTION SPRING/ SUMMER 2022
        </span>
    </div>
    <div class="img-collect1">
        <img src="/Images/img-collection/collec3.jpg" alt="Alternate Text" />
    </div>
    <div class="btn-collec1">
        <button type="button">Xem bộ sưu tập</button>
    </div>


    <div class="collect-title">
        <span>
            DSK CLOTHES® COLLECTION POPULAR LOGO
        </span>
    </div>
    <div class="img-collect1">
        <img src="/Images/img-collection/collec4.jpeg" alt="Alternate Text" />
    </div>
    <div class="btn-collec1">
        <button type="button">Xem bộ sưu tập</button>
    </div>



    <div class="collect-title">
        <span>
            DSK CLOTHES® “MY ANIMALS” SERIES COLLECTION 2021
        </span>
    </div>
    <div class="img-collect1">
        <img src="/Images/img-collection/collec5.jpg" alt="Alternate Text" />
    </div>
    <div class="btn-collec1">
        <button type="button">Xem bộ sưu tập</button>
    </div>
</div>

