@{
    ViewBag.Title = "Home";
}

@model IEnumerable<DSK_Clothes.Models.Product>

<main class="main">
    <div class="ban">
        <div class="wrap-video ban__img">
            <div class="home-video-desktop rto-box">
                <video id="video_background" preload="auto" autoplay loop muted>
                    <source src="https://levents.asia/wp-content/uploads/2022/09/TRANG-TIEN-1.0.mp4" type="video/mp4" />
                </video>
            </div>           
            <div class="home-video-mobile rto-box"></div>
        </div>
    </div>
    
    @*------------------------------------------------ NEW COLLECTION ------------------------------------------------*@
    <section class="sec-60 pd-0 abs">
        <div class="con">
            <h2 class="sec-title">
                NEW COLLECTION
            </h2>
            <div class="pd__list fl-wrap">
                @foreach (var item in Model)
                {
                    <div class="col-3">
                        <div class="pd__item aos-init aos-animate">
                            <div class="pd__top coJS ">
                                <a href="#">
                                    <div class="rto-box">
                                        <img width="300" height="300" src="@Html.DisplayFor(modelItem => item.Hinh)" alt="Alternate Text" />
                                    </div>
                                </a>
                            </div>
                            <div class="pd__bot">
                                <a href="#" title="DSK CLOTHES® | Coachella Heavy Tee" class="pd__title">DSK CLOTHES® | @Html.DisplayFor(modelItem => item.TenSP)</a>
                                <div class="pd__price">
                                    <span class="big m-black">
                                        <span class="woocommerce-Price-amount amount">
                                            <bdi>
                                                @Html.DisplayFor(modelItem => item.Gia)
                                                <span class="woocommerce-Price-currencySymbol">vnđ</span>
                                            </bdi>
                                        </span>
                                    </span>
                                </div>
                             </div>
                        </div>
                    </div>
                }
                <a href="#" class="btn-sec hov-df pd__btn mg-ct">XEM THÊM</a>
            </div>
        </div>
    </section>

    @*------------------------------------------------ OUTFITS ------------------------------------------------*@
    <section class="sec-t10 sty abs-of">
        <div class="con">
            <h2 class="sec-title">
                OUTFITS
            </h2>
            <div class="sty__con fl-con jus-ct">
                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_1.jpg" alt="Alternate Text" />

                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_2.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_3.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_4.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_5.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

                <div class="col">
                    <div class="sty__item aos-init aos-animate">
                        <div class="sty__img">
                            <div class="rto-box">
                                <img src="/Images/img-home/font_6.jpg" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                    <div class="sty__content fl-col txt-ct">
                        <a href="#" class="btn-sty hov-df pd__btn mg-ct">Xem bộ sưu tập</a>
                    </div>
                </div>

            </div>

        </div>

    </section>

</main>