@{
    ViewBag.Title = "Outfits";
}

@*---------------
    ------------------------------------- HEADER *@
@Html.Partial("HeaderNavbar", "Shared")

<main class="main">
    <div class="bc">
        <div class="con">
            <nav class="nav">
                @Html.ActionLink("Trang chủ", "Home", "Home", new { @class = "nav-link" })  /
                <p class="txt-b txt-p0-5">Outfits</p>
            </nav>
        </div>
    </div> 
    <section class="pd-0">
        <div class="con">
            <div class="fl-wrap">
                <div class="nav-ver">
                    <div class="nav-ver-con">
                        <div class="nav-ver_title">
                            <h4>Tất cả</h4>
                        </div>
                        <div class="nav-ver_link">
                            <a href="#">“MAKE EVERYTHING POPULAR” SPECIAL COLLECTION DORAEMON | DSK CLOTHES®</a>
                        </div>
                    </div>
                    <div class="nav-ver-con">
                        <div class="nav-ver_title">
                            <h4>THU/ ĐÔNG 2021</h4>
                        </div>
                        <div class="nav-ver_link">
                            <a href="#">"my animals" series</a><br />
                            <a href="#">popular logo</a><br />
                            <a href="#">outter space</a>
                        </div>
                    </div>
                    <div class="nav-ver-con">
                        <div class="nav-ver_title">
                            <h4>XUÂN/ HÈ 2022</h4>
                        </div>
                        <div class="nav-ver_link">
                            <a href="#">popular logo 2.0</a><br />
                            <a href="#">Mini Popular</a>
                        </div>
                    </div>
                </div>
                <div class="outfits-list w-out">
                    <div class="pd__list fl-wrap">
                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_1.jpg" alt="Alternate Text" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_2.jpg" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_3.jpg" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_4.jpg" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_5.jpg" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="sty__item aos-init aos-animate">
                                <div class="sty__img-out">
                                    <div class="rto-box">
                                        <img src="/Images/img-home/font_6.jpg" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

